<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Create Folder</title>	
	</head>

	<body>
		<form action="{% url "SecureWitness.views.createfolder" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{form.errors}} </p>
			<p>
				{{ form.title.label_tag }} {{ form.title }} {{ form.title.help_text }} {{ form.title.errors }}
			</p>
			{% if reports %}
				Add reports?<br>
				{% for report in reports %}
					<input type="radio" name="r_{{report.id}}"/>{{report.short_des}}<br>
				{% endfor %}
			{% endif %}
			{% if folders %}
				Add folders?<br>
				{% for folder in folders %}
					<input type="radio" name="f_{{folder.id}}"/>{{folder.title}}<br>
				{% endfor %}
			{% endif %}
			<p><input type="submit" value="Create" /></p>
		</form>
	</body>
</html> 