<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Reports Submitted</title>	
	</head>

 	<body>
		<!--List of uploaded documents-->
		{% if reports %}
			<ul>
			{% for report, files in repDict.items %}
				<li> <a href = "{% url 'SecureWitness.views.report_view' report_id=report.id %}"> {{ report.header }}</a> <br>
					<ul>
					{% for file in files %}
					<li>
						{{ file }}
					</li>
					{% endfor %}
					</ul>
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No reports submitted.</p>
		{% endif %}
	</body>
</html>