<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Profile </title>	
	</head>

 	<body>
		<!--List of uploaded documents-->
		<a class='btn' href='{% url "SecureWitness.views.submit" %}'>Submit Report</a><br><br>
		<a class='btn' href='{% url "SecureWitness.views.createfolder" %}'>Create Folder</a>
		{% if reports %}
			<p>Reports</p>
			<ul>
			{% for report, files in rep_dict.items %}
				<li> <a href = "{% url 'SecureWitness.views.report_view' report_id=report.id%}"> {{ report.header }}</a> <br>
					<ul>
					{% for file in files %}
					<li>
						{{ file }}
					</li>
					{% endfor %}
					</ul>
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No reports submitted.</p>
		{% endif %}
		{% if folders %}
			<br><br>
			<p>Folders</p>
			<ul>
			{% for folder in folders %}
				<li> <a href = "{% url 'SecureWitness.views.folder_view' folder_id=folder.id%}"> {{ folder.title }}</a> <br>
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No folders created.</p>
		{% endif %}
	</body>
</html>