<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{report.short_des}}</title>	
	</head>

 	<body>
		<!--List of uploaded documents-->
		{% if report %}
			<p> Submitted: {{ report.timestamp }} by {{ report.owner.username }} </p>
			{% if report.indicent_date %}
				<p> Incident Date: {{ report.incident_date }} </p>
			{% endif %}
			<p> Occured: {{ report.timestamp }} at {{report.location }} </p>
			<p> Summary: {{ report.short_des }} </p>
			<p> Description: {{ report.long_des }} </p>
 			<ul>
			{% for file, name in file_dict.items %}
				<li>
				<a href="{% url 'SecureWitness.views.report_view' report_id=report.id file_id=file.id %}"> {{ name }} </a>
				</li>
			{% endfor %}
			</ul>
			{% if report.owner.username == crntuser.username %}
				<a href="{% url 'SecureWitness.views.editreport' report_id=report.id %}"><button>Edit?</button></a><br><br>
				<a href="{% url 'SecureWitness.views.grantpermissions' report_id=report.id %}"><button>Grant Permissions?</button></a><br><br>
				<form action="{% url 'SecureWitness.views.report_view' report_id=report.id file_id=0%}" method="post">
					{% csrf_token %}
					<input type="submit" value = "Delete?" />
				</form>
			{% endif %}
		{% else %}
			<p> That is not a valid report.</p>
		{% endif %}
	</body>
</html>