<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{report.title}}</title>	
	</head>

 	<body>
		<!--List of uploaded documents-->
		{% if report %}
			<p> Submitted: {{ report.timestamp }} by {{ report.reporter }} </p>
			{% if report.indicent_date %}
				<p> Incident Date: {{ report.incident_date }} </p>
			{% endif %}
			<p> Occured: {{ report.timestamp }} at {{report.location }} </p>
			<p> Summary: {{ report.short_des }} </p>
			<p> Description: {{ report.long_des }} </p>
 			<ul>
			{% for file, name in file_dict.items %}
				<li>
				<a href="{% url 'SecureWitness.views.report_view' report_id=report.id file_id=file.id %}"> {{ name }} </a>
				</li>
			{% endfor %}
			</ul>
			<form action="{% url 'SecureWitness.views.report_view' report_id=report.id file_id=0%}" method="post">
				{% csrf_token %}
				<input type="submit" value = "Delete?" />
			</form>
		{% else %}
			<p> That is not a valid report.</p>
		{% endif %}
	</body>
</html>